<form class="ui stacked segment form" action="/bookmark/{{bookmark.id}}/addlink" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title">
    </div>
    <div class="field">
      <label>URL</label>
      <input placeholder="URL" type="text" name="URL">
    </div>
  </div>
  <button class="ui blue submit button">Add Link</button>
</form>