{{#each bookmarks}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <a href="/bookmark/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/menu/deletebookmark/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}
