<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Bookmark </a></header>
  <div class="right menu">
    <span class="name">{{fullname}}</span>
    <a id="menu" class="item" href="/menu"> Menu  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>