{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header ">
    About Our Website & Contact Details
  </h1>
    <table class="ui stackable selectable purple inverted table">
   <thead>
    <tr>
     <th>Contact Us</th>
      <th>What Media?</th>
   </tr>
    </thead>
     <tbody>
      <tr>
       <td>
  Author : 
     </td>
      <td>     
  Sophie Hudson-Hamm
    </td>
     </tr>
      <tr>
       <td>
  Email :
    </td>
     <td>
  sophiehud-hamm@hotmail.com
     </td>
      </tr>
       <tr>
        <td>
  Phone Number : 
    </td>
     <td>   
  0871144598
    </td>
     </tr>
      <tr>
       <td>
  Company Name :
    </td>
     <td>  
    Hud Web Developments
     </td>
     </tr>
      <tr>
       <td>
  Company Address : 
    </td>
     <td> 
  45 Central Waterford, Waterford City
    </td>
     </tr>
      <tr>
       <td>
    Any questions contact this E-mail Address :
         </td>
     <td> 
    HudSupport@gmail.com
     </td>
     </tr>
      </tbody>
       </table>
   <section class="ui purple inverted raised two column stackable grid segment">
    <section class="column">
<img class="ui large image" src="http://stlouispatina.com/wp-content/uploads/2013/11/Copyright-St.-Louis-Patina-003-1024x683.jpg">
    </section>
<section class="ui middle aligned center aligned column">
      <img class="ui large image" src="http://www.destination360.com/europe/ireland/waterford/days-hotel-waterford-city-map.gif">
    </section>
</section>