{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Sign up or Log in </p>
  <section class="ui stackable segment">
  
   <section class="ui raised stackable segment">
  <h1 class="ui center aligned header">
    Sophie Hudson-Hamm Repeat CA
  </h1>
      </section>
  
  <section class="ui raised stackable two column grid segment"> 
    <section class="middle aligned center aligned stackable column">
  <p>
   For my repeat CA I am required to make a website using the web application Glitch
    </p>
  <p>
    In this website the user will be able to make an account and be able to store their bookmarks.
    <p>
  
</section>
    <section class="column">
      <img class="ui large image" src="https://images.cdn1.stockunlimited.net/clipart/bookmark-icon_1947027.jpg">
    </section>
  </section>
</section>
</section>