{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Bookmark Website
  </h1>
  <p>
   This Node App helps you learn and Add Bookmarks 
  </p>
</section>